@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri, serif;
$white:white;
$grey:#cccccc80;
$black:black;

@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background: none;
}
body{
  background: url(/img/bg.jpg) fixed center/cover;
  margin: 0 auto;
}
 .btn{
  color: $black;
  border: 1.5px solid $black;
  padding: 14px 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6rem;
  background: none;

 }
H1{
  text-transform: uppercase;
  color: $white;
  font-size: 3.2rem;
  font-family: $font1;
  margin: 0 auto;
}
h2{
  text-transform: uppercase;
  color: $black;
  font-size: 3rem;
  font-family: $font1;
  @include center;
}
h3{
  text-transform: uppercase;
  color: $black;
  font-size: 0.8rem;
  @include center;
}
p{
  font-family: $font2;
  font-size: 0.8rem;
  font-weight: 700;
  color: $white;
}
